## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:It is a number of numeric data types which incllude integers(int),floating points numbers ,addition,subtraction,multiplication,divison ,powers ans many other operation.

Strings:It is asequence of characters

Lists:ordered mutable collections of element

Tuples:it is an ordereD, Mutable collections of element in which we can do slicing and unpacking amd here the element will be under simple bracket.

Dictionaries:
undered mutable collection of th key value pairs.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
50*4/2*2+100-199.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
   = 44
    
    What is the value of the expression 4 * 6 + 5 
   = 29
    
    What is the value of the expression 4 + 6 * 5
   = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
= 8.5

What would you use to find a numberâ€™s square root, as well as its square?
= (**)

In [13]:
# Square root:
5**2

25

In [12]:
# Square:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [32]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [31]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [33]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [35]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [36]:
# Method 1:
my_list=[0,0,0]
my_list

[0, 0, 0]

In [37]:
# Method 2:
num_list=[0,0,0]
num_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [ ]:
list3 = [1,2,[3,4,'hello']]

Sort the list below:

In [ ]:
list4 = [5,3,4,6,1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [39]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [40]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [43]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [49]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'[0][1,2,'K2'][0]['this is tricky','tough'][0][1,2['hello']])

SyntaxError: invalid syntax (<ipython-input-49-4560bb806e63>, line 3)

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>
the major difference between tuples and list are :
list is a collection of data that is ordered and changable.
tuples is a collection of data that is ordered and unchangable

How do you create a tuple?<br><br>
a tuples is created by placing all the items (elements)inside parentheses () seperated by commas.

## Sets

What is unique about a set?<br><br>
a set cannot hold items of different datatypes such as float,tuple,string or integer.

Use a set to find the unique values of the list below:

In [57]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5={1,2,2,33,4,4,11,22,3,3,2}
list5

{1, 2, 3, 4, 11, 22, 33}

## Great Job on your first assessment!